#include <windows.h>
#include "akyuu/config.h"

IDI_MAIN ICON "icons\\akyuu.ico"

1 VERSIONINFO
    FILEVERSION     AKYUU_VERSION_DIGITAL
    PRODUCTVERSION  AKYUU_VERSION_DIGITAL
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "0409FDE9"
        {
            VALUE "CompanyName", "ligneo"
            VALUE "FileDescription", "Akyuu"
            VALUE "FileVersion", AKYUU_VERSION_STRING
            VALUE "InternalName", "Akyuu"
            VALUE "OriginalFilename", "Akyuu.exe"
            VALUE "ProductName", "Akyuu"
            VALUE "ProductVersion", AKYUU_VERSION_STRING
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0xFDE9
    }
}
