[Desktop Entry]
Type=Application
Name=Akyuu
GenericName=Anime Tracker
Comment=Track the anime you watch and synchronize your progress
Exec=akyuu
Icon=io.github.ligneo.Akyuu
Terminal=false
Categories=AudioVideo;Video;Qt;
Keywords=anime;anilist;kitsu;myanimelist;
StartupWMClass=io.github.ligneo.Akyuu
